<div class="row me-4">
    <div class="col-sm-9 app-display ">
<div class="bg-dark p-2 position-sticky top-0 z-3">
        <form  [formGroup]="searchForm"  >
        <div class="d-flex align-items-center w-50 mx-auto mb-3 ">
            <input type="text"formControlName="title" class="form-control" placeholder="Title" aria-label="Recipient's username" aria-describedby="basic-addon2">
           
        </div>
    </form> 
    
</div>
    <app-display [bookdata]="books" (returnBook)="addBookTocart($event)"></app-display>
    </div>
    <div class="col-sm-3 app-cart">
        <app-cart [cartList]="cartList"></app-cart>
    </div>
</div>